:root {
  --primary: #107a77;
  --accent: #00664b;
  --bg-light: #f0f0f0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--primary); /* verde esmeralda oscuro */
  color: #fff;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.2s ease-in-out;
}

.links a:hover {
  color: #c3f0ca; /* verde más claro para hover */
}
