* {
    padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root{
    --color--one: #107a77;
}
.contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    border: solid black 2px;
    padding: 1rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}

.header {
    color: white;
    display: flex;
    justify-content: space-between;
}
.brand-logo a{
    color: var(--color--one);
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}
.brand-logo a img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border: 3px solid 
}
.Buttom-Login {
    border-radius: 0.7rem;
    padding: 1rem;
    background-color: var(--color--one);
}

.Buttom-Login img {
    width: 3.2rem;
    height: 3rem;
    border-radius: 2rem;
}
.Buttom-Login a {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}
